*{ /*Seletor universal para resetar as bordas da páginas*/
    padding:0px;
    margin:0px;
}
:root{/*seletor raiz para variáveis*/
    --cor-de-fundo: #bcbcee;
    --cor-da-letra:#ffd000;
}
body{/*seletor body*/
    background-color: var(--cor-de-fundo);
}
.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}